* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(180deg, #ec2525, #da00f9);
    min-height: 100vh;
    font-family: 'Signika' , sans-serif;
}

header, form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}


form input, form button {
    font-family: 'Signika';
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    cursor: pointer; /* link indicator */
    transition: all 0.3s ease;
    color: #56433c;
}

form button:hover {
    color: rgb(168, 168, 168) /* changes color on hover */
}
.todo {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.buttonDone, .delete-btn {
    border: none;
    color: #ffffff;
    padding: 1rem;
    cursor: pointer;
}

.buttonDone {
    background-color: #4cc74c
}

.delete-btn {
    background-color: #fd4040;
}


.list {
    list-style: none;
    min-width: 30%;
}
/* .todobtn {
    padding: 15px;
    border-radius: 10px;
    margin-left: 10px;
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.newtodo {
    margin-left: 1rem;
    font-size: 2rem;
    margin-right: 1rem;
}

.list {
    list-style: none;
    min-width: 30%;
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
}

.fa-circle-minus, .fa-circle-check {
    pointer-events: none;
}

.complete {
    text-decoration: line-through;
    opacity: 0.5;
}

.todo-complete {
    transition: all 1 ease;
}

.delete-anim {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0; /* repostions element on the Y axis by 8rem and rotates by 20 deg */
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
    /* removes all default styling of the select element */
}

.selected {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    width: 10rem;
    color: #56433c;
    cursor: pointer;
    padding: 1rem;
}

.selected::after {
    content: "\25BC"; 
    /* this adds the arrow back from removing all default properties */
    position: absolute;
    background: #56433c;
    color: white;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.selected:hover::after {
    background-color: rgb(168, 168, 168)
}